.application {
  &__body {
    display: flex;
    column-gap: rem(50);

    //== 1200px ==//
    @media (max-width: $note-m) {
      column-gap: rem(25);
    }

    //== 992px ==//
    @media (max-width: $tb) {
      flex-direction: column-reverse;
      gap: rem(30);
    }
  }

  &__content {
    padding: rem(52) rem(60) rem(28) rem(40);
    background-color: var(--clr-back-primary);
    border-radius: rem(20);
  }
  &__subtitle {
    color: var(--clr-accent-primary);
    &:not(:last-child) {
      margin-bottom: em(6, 18);
    }
  }
  &__text {
    &:not(:last-child) {
      margin-bottom: em(48, 18);
    }
  }

  &__image {
    overflow: hidden;
    display: flex;
    gap: rem(20);
    flex: 0 0 rem(620);
    padding: rem(9) rem(27) rem(24) rem(50);

    background: var(--clr-back-secondary);
    border-radius: rem(5) rem(60);

    //== 1200px ==//
    @media (max-width: $note-m) {
      flex: 0 0 rem(480);
    }
    //== 992px ==//
    @media (max-width: $tb) {
      align-items: center;
      padding-left: rem(180);
      flex: 0 0 rem(340);
    }
    //== 768px ==//
    @media (max-width: $mb) {
      padding: rem(5) rem(25) rem(5) rem(50);
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      padding-left: rem(20);
    }
  }
  &__image-content {
    @extend %fl-r-ct;

    span {
      max-width: rem(270);
      position: relative;
      z-index: 2;
      padding-left: rem(52);

      &::before {
        content: "";
        position: absolute;
        z-index: -1;
        height: 160%;
        width: 300%;
        left: 0;
        top: -30%;

        background-color: rgba(255, 255, 255, 0.5);
        border-radius: rem(5) 0 rem(5) rem(60);
      }

      font-family: "GothamPro";
      font-weight: 700;
      @include adaptiveValue("font-size", 22, 18);
      line-height: math.div(30, 22);
      text-align: right;
      color: var(--clr-accent-primary);

      //== 1200px ==//
      @media (max-width: $note-m) {
        padding-left: rem(20);
      }
    }
  }
  &__img {
    position: relative;
    z-index: 2;
    flex: 0 0 rem(257);
    height: rem(300);

    img {
      max-width: 100%;
      object-fit: contain;
    }

    //== 1200px ==//
    @media (max-width: $note-m) {
      flex: 0 0 rem(200);
      height: rem(230);
    }
    //== 440px ==//
    @media (max-width: $mb-s) {
      flex: 0 0 rem(160);
      height: rem(186);
    }
  }
}
