.benefits {
  &__container {
  }
  &__header {
    .benefits__title,
    .benefits__description {
      text-align: left;
    }
    &:not(:last-child) {
      margin-bottom: rem(64);
    }
  }
  &__button {
    padding: rem(14) rem(75);
  }
  &__title {
    text-align: center;

    &:not(:last-child) {
      margin-bottom: em(11, 64);
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      text-align: left;
    }
  }
  &__description {
    max-width: rem(910);
    margin: 0 auto;

    text-align: center;
    &:not(:last-child) {
      margin-bottom: em(64, 24);
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      text-align: left;
    }
  }

  &__cards-addition {
    display: flex;
    align-items: center;
    gap: rem(100);

    //== 1360px ==//
    @media (max-width: $note-l) {
      gap: rem(60);
    }
    //== 1200px ==//
    @media (max-width: $note-m) {
      > .benefits__card {
        display: none;
      }
    }
    //== 992px ==//
    @media (max-width: $tb) {
      flex-direction: column;
      row-gap: rem(40);
    }
    //== 440px ==//
    @media (max-width: $mb-s) {
      row-gap: rem(20);
    }
  }
  &__cards-block {
    display: flex;
    gap: rem(85);
    background: var(--clr-back-primary);
    border-radius: rem(5) rem(60);
    padding: rem(85) rem(35) rem(60);

    .benefits__card {
      position: relative;
      z-index: 2;
    }

    //== 1360px ==//
    @media (max-width: $note-l) {
      padding: rem(65) rem(20) rem(40);
      gap: rem(45);
    }
    //== 992px ==//
    @media (max-width: $tb) {
      width: 100%;
      justify-content: space-between;
      padding: rem(75) rem(40) rem(30);
    }
    //== 440px ==//
    @media (max-width: $mb-s) {
      width: calc(100% + rem(40));
      margin-left: rem(-20);
      margin-right: rem(-20);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: rem(75);
      padding: rem(75) rem(20) rem(20);
      border-radius: rem(5) rem(30);
    }
    //== 440px ==//
    @media (max-width: $mb-s) {
      column-gap: rem(20);
    }
    //== 370px ==//
    @media (max-width: $mb-xs) {
      column-gap: rem(15);
    }
  }
  &__cards {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: rem(47);
    row-gap: rem(65);
    padding-top: rem(85);

    &.benefits__cards--inner {
      &:not(:last-child) {
        margin-bottom: rem(35);
      }
      //== 992px ==//
      @media (max-width: $tb) {
        &:not(:last-child) {
          margin-bottom: rem(45);
        }
      }
      //== 440px ==//
      @media (max-width: $mb-s) {
        &:not(:last-child) {
          margin-bottom: rem(20);
        }
      }
      //== 1360px ==//
      @media (min-width: $note-l) {
        grid-template-columns: repeat(6, 1fr);
        column-gap: rem(65);
      }
      //== 1360px ==//
      @media (max-width: $note-l) and (min-width: $tb) {
        grid-template-columns: repeat(3, 1fr);
        row-gap: rem(105);
        max-width: rem(805);
        margin: 0 auto;
        &::before {
          display: none;
        }
      }
    }

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      width: 100%;
      height: rem(193);
      background: var(--clr-back-primary);
      border-radius: rem(5) rem(60);
    }

    //== 992px ==//
    @media (max-width: $tb) {
      max-width: rem(840);
      grid-template-columns: repeat(2, 1fr);
      margin: 0 auto;
      padding-top: rem(30);
      &::before {
        display: none;
      }
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      margin-left: 0;
      row-gap: rem(75);
    }
    //== 440px ==//
    @media (max-width: $mb-s) {
      column-gap: rem(20);
    }
    //== 370px ==//
    @media (max-width: $mb-xs) {
      column-gap: rem(15);
    }
  }

  &__card {
  }
  &__card-title {
    font-family: "GothamPro", sans-serif;
    font-weight: 700;
    font-size: rem(18);
    line-height: math.div(28, 18);
    color: var(--clr-accent-primary);
    &:not(:last-child) {
      margin-bottom: em(14, 18);
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      &:not(:last-child) {
        margin-bottom: rem(8);
      }
    }
  }
  &__card-description {
  }
  &__card-icon {
    position: relative;
    @extend %fl-a-ct;
    width: rem(108);
    height: rem(108);
    border-radius: rem(20);
    background-color: var(--clr-white);

    svg {
      width: rem(53);
      height: rem(53);
      fill: var(--clr-accent-primary);
    }
    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: rem(37);
      width: rem(150);
      height: rem(150);
      background-color: var(--back, #c4e2f8);
      border-radius: rem(5) rem(60);
    }
    &:not(:last-child) {
      margin-bottom: rem(25);
    }

    //== 576px ==//
    @media (max-width: $mb-m) {
      width: rem(70);
      height: rem(70);

      svg {
        width: rem(42);
        height: rem(42);
      }
      &::before {
        width: rem(120);
        height: rem(120);
        left: 0;
      }
      &:not(:last-child) {
        margin-bottom: rem(15);
      }
    }
  }
}
