section.page__filters {
  &:not(:last-child) {
    margin-bottom: rem(56);
  }
}
.filters {
  &__container {
    &:not(:last-child) {
      margin-bottom: rem(23);
    }
  }
  &__body {
    background-color: var(--clr-back-primary);
    padding-top: rem(33);
    padding-bottom: rem(33);

    &:not(:last-child) {
      margin-bottom: rem(37);
    }

    //== 768px ==//
    @media (max-width: $mb) {
      &:not(:last-child) {
        margin-bottom: rem(30);
      }
    }
  }

  &__header {
    &:not(:last-child) {
      margin-bottom: rem(22);
    }
  }
  &__name {
    @extend %fl-r-ct;
    column-gap: rem(9);

    font-family: "GothamPro";
    font-weight: 700;
    @include adaptiveValue("font-size", 18, 15);
    line-height: math.div(28, 18);
    color: var(--clr-accent-primary);

    &::before {
      content: "";
      flex: 0 0 rem(16);
      width: rem(16);
      height: rem(12);
      @extend %bg-con;
      background-image: url("@img/icons/filter.svg");
    }
  }
  &__clear {
    @include adaptiveValue("font-size", 18, 15);
    line-height: math.div(27, 18);
    color: var(--clr-accent-primary);

    text-decoration: underline;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: none;
      }
    }
  }

  &__block {
    display: inline-flex;
    align-items: center;
    gap: rem(30);
    padding: rem(18) rem(28);
    background-color: var(--clr-white);
    border-radius: rem(50);

    &:not(:last-child) {
      margin-bottom: rem(16);
    }
    //== 768px ==//
    @media (max-width: $mb) {
      padding: rem(20) rem(25) rem(20) rem(20);
      border-radius: rem(20);
    }
    @media (max-width: $mb) {
      flex-direction: column;
    }
  }
  &__block-options {
    @extend %fl-r-ct;
    flex-wrap: wrap;
    column-gap: rem(30);
    row-gap: rem(12);
  }
  &__block-title {
    //== 768px ==//
    @media (max-width: $mb) {
      align-self: flex-start;
    }
  }

  &__tabs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: rem(19);
    row-gap: rem(12);

    &:not(:last-child) {
      margin-bottom: rem(42);
    }

    //== 768px ==//
    @media (max-width: $mb) {
      gap: rem(8);
      &:not(:last-child) {
        margin-bottom: rem(30);
      }
    }
  }
  &__tabs-button {
    @extend %fl-a-ct;
    padding: rem(18) rem(17);
    background: var(--clr-accent-secondary);
    border-radius: rem(50);

    font-family: "GothamPro";
    font-weight: 400;
    @include adaptiveValue("font-size", 16, 14);
    line-height: math.div(16, 17);
    color: var(--clr-white);

    transition: background-color 0.32s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        background-color: rgba(34, 86, 123, 0.8);
      }
    }

    &._active {
      background-color: var(--clr-accent-primary);
    }

    //== 768px ==//
    @media (max-width: $mb) {
      padding: rem(10) rem(15);
      border-radius: rem(20);
    }
  }

  &__consult {
    @extend %fl-r-ct;
    padding: rem(4) rem(28) 0 rem(27);
    background: var(--clr-back-primary);
    border-radius: rem(20);
    gap: rem(23);

    //== 992px ==//
    @media (max-width: $tb) {
      padding: rem(20) rem(20);
    }
    //== 768px ==//
    @media (max-width: $mb) {
      row-gap: rem(10);
      display: grid;
      grid-template-columns: rem(31) 1fr;
    }
    //== 440px ==//
    @media (max-width: $mb-s) {
      row-gap: rem(20);
    }
  }
  &__consult-button {
    //== 768px ==//
    @media (max-width: $mb) {
      grid-column: span 2;
    }
  }
  &__consult-icon {
    font-weight: 800;
    @include adaptiveValue("font-size", 80, 60);
    line-height: math.div(118, 80);
    color: var(--clr-back-secondary);
  }
  &__consult-content {
    @extend %fl-c-st;
    gap: rem(10);
    margin-right: auto;
    padding-bottom: rem(10);

    //== 768px ==//
    @media (max-width: $mb) {
      padding-bottom: 0;
      margin-right: 0;
    }
  }
  &__consult-main {
    font-family: "GothamPro";
    font-weight: 700;
    @include adaptiveValue("font-size", 18, 15);
    line-height: math.div(28, 18);
    color: var(--clr-accent-primary);
  }
  &__consult-description {
    @include adaptiveValue("font-size", 18, 15);
    line-height: math.div(23, 18);
  }
}
