.overview {
  &__container {
    display: flex;

    //== 992px ==//
    @media (max-width: $tb) {
      flex-direction: column;
      gap: rem(30);
    }
  }
  &__sliders {
    display: flex;
    align-items: flex-start;
    flex: 0 0 rem(645);
    min-width: 0;

    //== 992px ==//
    @media (max-width: $tb) {
      justify-content: center;
      flex: 0 0 rem(450);
    }
    @media (max-width: em(709.98)) {
      flex: 0 0 rem(335);
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      flex: 0 0 rem(200);
    }
  }
  &__slider-thumbs {
    flex: 0 0 rem(96);
    height: rem(450);
    min-width: 0;

    //== 992px ==//
    @media (max-width: $tb) {
      &.swiper {
        margin-left: 0;
        margin-right: 0;
      }
    }
    @media (max-width: em(709.98)) {
      height: rem(335);
      flex: 0 0 rem(75);
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      height: rem(260);
      flex: 0 0 rem(61);
    }
    //== 440px ==//
    @media (max-width: $mb-s) {
      height: rem(230);
      flex: 0 0 rem(53);
    }
  }
  &__slider-cover {
    position: relative;
    flex: 0 0 rem(540);
    padding: 0 rem(45);
    min-width: 0;

    @media (max-width: em(709.98)) {
      flex: 0 0 rem(420);
      padding: 0 rem(30);
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      flex: 0 0 rem(320);
      padding: 0 rem(20);
    }
    //== 440px ==//
    @media (max-width: $mb-s) {
      flex: 0 0 rem(280);
    }
  }
  &__slide-main {
    position: relative;
    @extend %fl-r-ct;
    height: rem(450);
    border-radius: rem(20);
    background-color: var(--clr-add-3);
    padding: rem(46) rem(60) rem(28) rem(67);

    img {
      width: 100%;
      height: rem(377);
      object-fit: contain;

      @media (max-width: em(709.98)) {
        height: rem(230);
      }
      //== 440px ==//
      @media (max-width: $mb-s) {
        height: rem(200);
      }
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      padding: rem(15) rem(20);
    }
    //== 440px ==//
    @media (max-width: $mb-s) {
      height: rem(230);
    }

    .swiper-lazy-preloader {
      z-index: 5;
    }
  }
  &__slide {
    cursor: pointer;
    @extend %fl-r-ct;
    border-radius: rem(5);
    background-color: var(--clr-add-3);
    border: 1px solid var(--clr-back-secondary);
    padding: rem(20) rem(24);

    img {
      max-width: 100%;
      object-fit: contain;
      transition: transform 0.32s ease-in-out;
    }

    &.swiper-slide-thumb-active {
      img {
        transform: scale(1.2);
      }
    }

    @media (max-width: em(709.98)) {
      padding: rem(10);

      img {
        width: 100%;
        height: 100%;
      }
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      padding: rem(8);
    }
  }
  &__navigation {
    @extend %fl-r-ctb;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: rem(25);
    width: calc(100% - rem(50));
    transform: translateY(-50%);

    @media (max-width: em(709.98)) {
      left: rem(15);
      width: calc(100% - rem(30));
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      left: rem(10);
      width: calc(100% - rem(20));
    }
  }

  &__content {
    padding: rem(52) rem(40) rem(40);
    background-color: var(--clr-back-primary);
    border-radius: 0px rem(60);

    //== 1200px ==//
    @media (max-width: $note-m) {
      padding: rem(30) rem(20) rem(25);
      border-radius: 0 rem(30);
    }
    //== 992px ==//
    @media (max-width: $tb) {
      padding: rem(40) rem(40) rem(40);
      border-radius: rem(60);
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      padding: rem(30) rem(25);
      border-radius: rem(30);
    }
  }
  &__content-block {
    &:not(:last-child) {
      margin-bottom: em(27, 18);
    }
  }
  &__title {
    font-family: "GothamPro";
    font-weight: 700;
    @include adaptiveValue("font-size", 18, 15);
    line-height: math.div(28, 18);
    color: var(--clr-accent-primary);

    &:not(:last-child) {
      margin-bottom: em(6, 18);
    }
  }
  &__description {
    @include adaptiveValue("font-size", 18, 15);
    line-height: math.div(23, 18);
  }
  &__button {
    padding: rem(14) rem(75);
    margin-top: rem(27);

    //== 992px ==//
    @media (max-width: $tb) {
      margin-top: rem(10);
    }
    //== 440px ==//
    @media (max-width: $mb-s) {
      width: 100%;
    }
  }
}
