.products {
  &__title,
  &__description {
    text-align: center;
    //== 576px ==//
    @media (max-width: $mb-m) {
      text-align: left;
    }
  }
  &__title {
    &:not(:last-child) {
      margin-bottom: em(12, 45);
    }
  }
  &__description {
    &:not(:last-child) {
      margin-bottom: em(64, 24);
      //== 768px ==//
      @media (max-width: $mb) {
        margin-bottom: em(32, 18);
      }
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: rem(100);
    row-gap: rem(55);

    .filters--double & {
      row-gap: rem(45);
      column-gap: rem(54);

      //== 1360px ==//
      @media (max-width: $note-l) {
        column-gap: rem(25);
      }
    }

    //== 1360px ==//
    @media (max-width: $note-l) {
      column-gap: rem(40);
    }
    //== 1200px ==//
    @media (max-width: $note-m) {
      column-gap: rem(15);
    }
    //== 992px ==//
    @media (max-width: $tb) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: rem(35);
      row-gap: rem(45);
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      grid-template-columns: 1fr;
      row-gap: rem(35);
    }
  }
  &__card {
    .products__cards--home & {
      .card-products__image {
        background-color: var(--clr-add-2);
      }
      &:nth-child(even) {
        .card-products__image {
          background-color: var(--clr-add-1);
        }
      }
    }
    .filters--double & {
      .card-products__image {
        border: none;
        z-index: 2;

        &::before {
          content: "";
          position: absolute;
          z-index: -1;
          left: 0;
          bottom: 0;
          width: 59%;
          height: 59%;
          border-radius: rem(20);
          background-color: rgba(255, 255, 255, 0.6);

          transition: transform 0.32s ease-in-out;
        }
      }
      &:nth-child(4n + 1) {
        @media (any-hover: hover) {
          &:hover {
            .card-products__image {
              box-shadow: 0 0 15px 5px rgba(186, 217, 224, 0.6);
              &::before {
                transform: translate(rem(20), rem(-20));
              }
            }
          }
        }
        .card-products__image {
          background-color: var(--clr-add-3);
        }
      }
      &:nth-child(4n + 2) {
        @media (any-hover: hover) {
          &:hover {
            .card-products__image {
              box-shadow: 0 0 15px 5px rgba(240, 239, 235, 0.6);
              &::before {
                transform: translate(rem(20), rem(-20));
              }
            }
          }
        }
        .card-products__image {
          background-color: var(--clr-add-1);
        }
      }
      &:nth-child(4n + 3) {
        @media (any-hover: hover) {
          &:hover {
            .card-products__image {
              box-shadow: 0 0 15px 5px rgba(242, 226, 216, 0.6);
              &::before {
                transform: translate(rem(20), rem(-20));
              }
            }
          }
        }
        .card-products__image {
          background-color: var(--clr-add-2);
        }
      }
      &:nth-child(4n + 4) {
        @media (any-hover: hover) {
          &:hover {
            .card-products__image {
              box-shadow: 0 0 15px 5px rgba(240, 239, 235, 0.6);
              &::before {
                transform: translate(rem(20), rem(-20));
              }
            }
          }
        }
        .card-products__image {
          background-color: var(--clr-add-1);
        }
      }
    }
  }

  &__pagging {
    margin-top: rem(30);

    .filters--double & {
      margin-top: rem(40);
    }
    grid-column: span 4;
    //== 992px ==//
    @media (max-width: $tb) {
      grid-column: span 2;
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      grid-column: span 1;
    }
  }
}
