.provided {
  background-color: var(--clr-back-primary);
  padding-top: rem(42);
  padding-bottom: rem(42);

  &__container {
    background: var(--clr-back-secondary);
    border-radius: rem(20) rem(60);
    font-family: "GothamPro", sans-serif;
  }

  &__content {
    display: flex;
    align-items: flex-start;
    padding-top: rem(63);
    padding-bottom: rem(62);
    padding-left: rem(144);
    padding-right: rem(130);
  }

  &__text {
    position: relative;
    z-index: 2;
    font-weight: 700;
    font-size: rem(64);
    line-height: math.div(30, 64);
    color: var(--clr-accent-primary);
    padding-top: rem(78);
    padding-bottom: rem(68);

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 150%;
      height: 100%;
      background: var(--clr-white);
      border-radius: rem(5) rem(60);
    }
  }
  &__left {
    &:not(:last-child) {
      margin-right: rem(30);
    }
  }

  &__center {
    @extend %fl-c-ct;
    padding-top: rem(30);

    &:not(:last-child) {
      margin-right: rem(20);
    }
  }

  &__percentage {
    position: relative;
    z-index: 3;
    font-weight: 900;
    font-size: rem(128);
    line-height: math.div(100, 128);
    color: var(--clr-accent-secondary);
  }

  &__children {
    position: relative;
    z-index: 3;
    font-weight: 300;
    font-size: rem(40);
    line-height: math.div(30, 40);
    color: var(--clr-white);
    text-align: center;

    padding: rem(37) rem(55);
    background: var(--clr-accent-primary);
    border-radius: rem(10) rem(60);
  }

  &__right {
    padding-top: rem(55);
  }

  &__quote {
    font-weight: 700;
    font-size: rem(36);
    line-height: math.div(46, 36);
    color: var(--clr-accent-primary);
    &:not(:last-child) {
      margin-bottom: rem(5);
    }
  }

  &__author {
    display: block;
    font-family: "Circe", sans-serif;
    font-size: rem(16);
    line-height: math.div(21, 16);
    color: var(--clr-accent-primary);
    &:link,
    &:hover {
      text-decoration: undelrine;
    }

    &:not(:last-child) {
      margin-bottom: rem(37);
    }
  }

  &__description {
    position: relative;
    z-index: 2;
    max-width: rem(480);
    font-family: "Circe", sans-serif;
    font-size: rem(20);
    line-height: math.div(27, 20);
    color: var(--clr-accent-primary);

    padding-top: rem(32);
    padding-bottom: rem(35);

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 50%;
      top: 50%;
      transform: translate(-52%, -50%);
      width: 123%;
      height: 100%;
      background-color: var(--clr-white);
      border-radius: rem(5) rem(60);
    }
  }
}
