@font-face {
    font-family: "Circe-ExtraBold";
    src: url("Circe-ExtraBold.eot");
    src: url("Circe-ExtraBold.eot?#iefix") format("embedded-opentype"),
         url("Circe-ExtraBold.woff2") format("woff2"),
         url("Circe-ExtraBold.woff") format("woff"),
         url("Circe-ExtraBold.ttf") format("ttf"),
         url("Circe-ExtraBold.svg#Circe-ExtraBold") format("svg");
    font-style: normal;
    font-weight: heavy;
}
@font-face {
    font-family: "Circe-ExtraBold";
    src: url("Circe-ExtraBold.eot");
    src: url("Circe-ExtraBold.eot?#iefix") format("embedded-opentype"),
         url("Circe-ExtraBold.woff2") format("woff2"),
         url("Circe-ExtraBold.woff") format("woff"),
         url("Circe-ExtraBold.ttf") format("ttf"),
         url("Circe-ExtraBold.svg#Circe-ExtraBold") format("svg");
    font-style: normal;
    font-weight: heavy;
}
@font-face {
    font-family: "Circe-ExtraBold";
    src: url("Circe-ExtraBold.eot");
    src: url("Circe-ExtraBold.eot?#iefix") format("embedded-opentype"),
         url("Circe-ExtraBold.woff2") format("woff2"),
         url("Circe-ExtraBold.woff") format("woff"),
         url("Circe-ExtraBold.ttf") format("ttf"),
         url("Circe-ExtraBold.svg#Circe-ExtraBold") format("svg");
    font-style: normal;
    font-weight: heavy;
}
@font-face {
    font-family: "Circe-ExtraBold";
    src: url("Circe-ExtraBold.eot");
    src: url("Circe-ExtraBold.eot?#iefix") format("embedded-opentype"),
         url("Circe-ExtraBold.woff2") format("woff2"),
         url("Circe-ExtraBold.woff") format("woff"),
         url("Circe-ExtraBold.ttf") format("ttf"),
         url("Circe-ExtraBold.svg#Circe-ExtraBold") format("svg");
    font-style: normal;
    font-weight: heavy;
}
@font-face {
    font-family: "Circe-ExtraBold";
    src: url("Circe-ExtraBold.eot");
    src: url("Circe-ExtraBold.eot?#iefix") format("embedded-opentype"),
         url("Circe-ExtraBold.woff2") format("woff2"),
         url("Circe-ExtraBold.woff") format("woff"),
         url("Circe-ExtraBold.ttf") format("ttf"),
         url("Circe-ExtraBold.svg#Circe-ExtraBold") format("svg");
    font-style: normal;
    font-weight: heavy;
}
@font-face {
    font-family: "Circe-ExtraBold";
    src: url("Circe-ExtraBold.eot");
    src: url("Circe-ExtraBold.eot?#iefix") format("embedded-opentype"),
         url("Circe-ExtraBold.woff2") format("woff2"),
         url("Circe-ExtraBold.woff") format("woff"),
         url("Circe-ExtraBold.ttf") format("ttf"),
         url("Circe-ExtraBold.svg#Circe-ExtraBold") format("svg");
    font-style: normal;
    font-weight: heavy;
}
@font-face {
    font-family: "Circe-ExtraBold";
    src: url("Circe-ExtraBold.eot");
    src: url("Circe-ExtraBold.eot?#iefix") format("embedded-opentype"),
         url("Circe-ExtraBold.woff2") format("woff2"),
         url("Circe-ExtraBold.woff") format("woff"),
         url("Circe-ExtraBold.ttf") format("ttf"),
         url("Circe-ExtraBold.svg#Circe-ExtraBold") format("svg");
    font-style: normal;
    font-weight: heavy;
}
@font-face {
    font-family: "Circe-ExtraBold";
    src: url("Circe-ExtraBold.eot");
    src: url("Circe-ExtraBold.eot?#iefix") format("embedded-opentype"),
         url("Circe-ExtraBold.woff2") format("woff2"),
         url("Circe-ExtraBold.woff") format("woff"),
         url("Circe-ExtraBold.ttf") format("ttf"),
         url("Circe-ExtraBold.svg#Circe-ExtraBold") format("svg");
    font-style: normal;
    font-weight: heavy;
}
@font-face {
    font-family: "Circe-ExtraBold";
    src: url("Circe-ExtraBold.eot");
    src: url("Circe-ExtraBold.eot?#iefix") format("embedded-opentype"),
         url("Circe-ExtraBold.woff2") format("woff2"),
         url("Circe-ExtraBold.woff") format("woff"),
         url("Circe-ExtraBold.ttf") format("ttf"),
         url("Circe-ExtraBold.svg#Circe-ExtraBold") format("svg");
    font-style: normal;
    font-weight: heavy;
}
@font-face {
    font-family: "Circe-ExtraBold";
    src: url("Circe-ExtraBold.eot");
    src: url("Circe-ExtraBold.eot?#iefix") format("embedded-opentype"),
         url("Circe-ExtraBold.woff2") format("woff2"),
         url("Circe-ExtraBold.woff") format("woff"),
         url("Circe-ExtraBold.ttf") format("ttf"),
         url("Circe-ExtraBold.svg#Circe-ExtraBold") format("svg");
    font-style: normal;
    font-weight: heavy;
}
@font-face {
    font-family: "Circe-ExtraBold";
    src: url("Circe-ExtraBold.eot");
    src: url("Circe-ExtraBold.eot?#iefix") format("embedded-opentype"),
         url("Circe-ExtraBold.woff2") format("woff2"),
         url("Circe-ExtraBold.woff") format("woff"),
         url("Circe-ExtraBold.ttf") format("ttf"),
         url("Circe-ExtraBold.svg#Circe-ExtraBold") format("svg");
    font-style: normal;
    font-weight: heavy;
}
@font-face {
    font-family: "Circe-ExtraBold";
    src: url("Circe-ExtraBold.eot");
    src: url("Circe-ExtraBold.eot?#iefix") format("embedded-opentype"),
         url("Circe-ExtraBold.woff2") format("woff2"),
         url("Circe-ExtraBold.woff") format("woff"),
         url("Circe-ExtraBold.ttf") format("ttf"),
         url("Circe-ExtraBold.svg#Circe-ExtraBold") format("svg");
    font-style: normal;
    font-weight: heavy;
}
@font-face {
    font-family: "Circe-ExtraBold";
    src: url("Circe-ExtraBold.eot");
    src: url("Circe-ExtraBold.eot?#iefix") format("embedded-opentype"),
         url("Circe-ExtraBold.woff2") format("woff2"),
         url("Circe-ExtraBold.woff") format("woff"),
         url("Circe-ExtraBold.ttf") format("ttf"),
         url("Circe-ExtraBold.svg#Circe-ExtraBold") format("svg");
    font-style: normal;
    font-weight: heavy;
}
@font-face {
    font-family: "Circe-ExtraBold";
    src: url("Circe-ExtraBold.eot");
    src: url("Circe-ExtraBold.eot?#iefix") format("embedded-opentype"),
         url("Circe-ExtraBold.woff2") format("woff2"),
         url("Circe-ExtraBold.woff") format("woff"),
         url("Circe-ExtraBold.ttf") format("ttf"),
         url("Circe-ExtraBold.svg#Circe-ExtraBold") format("svg");
    font-style: normal;
    font-weight: heavy;
}
@font-face {
    font-family: "Circe-ExtraBold";
    src: url("Circe-ExtraBold.eot");
    src: url("Circe-ExtraBold.eot?#iefix") format("embedded-opentype"),
         url("Circe-ExtraBold.woff2") format("woff2"),
         url("Circe-ExtraBold.woff") format("woff"),
         url("Circe-ExtraBold.ttf") format("ttf"),
         url("Circe-ExtraBold.svg#Circe-ExtraBold") format("svg");
    font-style: normal;
    font-weight: heavy;
}
@font-face {
    font-family: "Circe-ExtraBold";
    src: url("Circe-ExtraBold.eot");
    src: url("Circe-ExtraBold.eot?#iefix") format("embedded-opentype"),
         url("Circe-ExtraBold.woff2") format("woff2"),
         url("Circe-ExtraBold.woff") format("woff"),
         url("Circe-ExtraBold.ttf") format("ttf"),
         url("Circe-ExtraBold.svg#Circe-ExtraBold") format("svg");
    font-style: normal;
    font-weight: heavy;
}
@font-face {
    font-family: "Circe-ExtraBold";
    src: url("Circe-ExtraBold.eot");
    src: url("Circe-ExtraBold.eot?#iefix") format("embedded-opentype"),
         url("Circe-ExtraBold.woff2") format("woff2"),
         url("Circe-ExtraBold.woff") format("woff"),
         url("Circe-ExtraBold.ttf") format("ttf"),
         url("Circe-ExtraBold.svg#Circe-ExtraBold") format("svg");
    font-style: normal;
    font-weight: heavy;
}