//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: rem(10);
  padding: rem(14) rem(34);
  background-color: var(--clr-accent-secondary);
  border-radius: rem(5) rem(20);

  font-family: "GothamPro", sans-serif;
  font-weight: 500;
  @include adaptiveValue("font-size", 18, 15);
  line-height: math.div(28, 18);
  color: var(--clr-white);

  transition:
    border-radius 0.32s ease,
    background-color 0.32s ease;
  @media (any-hover: hover) {
    &:hover {
      border-radius: rem(20);
      background-color: rgba(83, 162, 219, 0.9);
    }
  }
  //== 768px ==//
  @media (max-width: $mb) {
    padding-top: rem(10);
    padding-bottom: rem(10);
  }

  svg,
  span._icon {
    flex: 0 0 rem(22);
    width: rem(22);
    height: rem(22);
  }
  svg {
    fill: var(--clr-white);
  }
  span._icon {
    @extend %bg-con;
  }

  &.button--white {
    background-color: var(--clr-white);
    color: var(--clr-accent-secondary);
  }
  &.button--extended {
    padding: rem(14) rem(75);
  }
  &.button--fw {
    width: 100%;
  }

  &:disabled {
    cursor: default;
    filter: grayscale(1);
    opacity: 0.6;

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--clr-accent-secondary);
        border-radius: rem(5) rem(20);
      }
    }
  }
}
