.checkbox {
  position: relative;

  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    &:focus + .checkbox__label:before {
      box-shadow: 0 0 3px rgba(83, 162, 219, 0.6);
    }
    &:checked + .checkbox__label:after {
      transform: scale(1);
    }
  }
  // .checkbox__label
  &__label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    position: relative;
    gap: rem(6);
    &:before {
      content: "";
      align-self: flex-start;
      margin-top: rem(1);
      flex: 0 0 rem(16);
      width: rem(16);
      height: rem(16);
      border: 2px solid var(--clr-accent-secondary);
      border-radius: rem(4);

      transition: box-shadow 0.32s ease;
    }
    &::after {
      content: "";
      position: absolute;
      left: rem(4);
      top: rem(5);
      width: rem(8);
      height: rem(8);
      border-radius: rem(1);
      background-color: var(--clr-accent-secondary);
      transform: scale(0);

      transition: transform 0.32s ease;
    }
  }
  // .checkbox__text
  &__text {
    font-family: "GothamPro", sans-serif;
    @include adaptiveValue("font-size", 17, 15);
    line-height: math.div(16, 17);
    color: var(--clr-accent-primary);
  }
}
