//<FORM>
// Снипет (HTML):
.form {
  @extend %fl-c;
  gap: rem(24);

  &__row {
    display: flex;
    gap: rem(14);
  }
  &__item {
    flex: 1 1 auto;
  }
  &__file {
    @extend %fl-r-ct;
    gap: rem(14);
  }
  &__file input[type="file"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
  }
  &__file-button {
    display: inline-flex;
    align-items: center;
    gap: rem(14);
    padding: rem(14) rem(32) rem(14) rem(19);
    background-color: var(--clr-accent-primary);
    border-radius: rem(5) rem(20);

    font-family: "CenturyGothic";
    font-weight: 700;
    @include adaptiveValue("font-size", 15, 14);
    line-height: math.div(18, 15);
    color: var(--clr-white);
    svg {
      flex: 0 0 rem(18);
      width: rem(18);
      height: rem(20);
      fill: var(--clr-white);
    }
  }
  &__file-text {
    max-width: rem(253);
    @include adaptiveValue("font-size", 14, 12);
    line-height: math.div(21, 14);
  }
}
//</FORM>

// <BUTTONS>
// Снипет (HTML): btn
@import "button";

// <INPUTS>
// Снипет (HTML): inp
@import "input";

// <CHECK>
// Снипет (HTML): chk
@import "checkbox";

// <RADIO>
// Снипет (HTML): opt
// @import "radio";

// <SELECT>
// Снипет (HTML): sel
// @import "select";

// <RATING>
// Снипет (HTML): rating
// @import "rating";

// <QUANTITY>
// Снипет (HTML): qa
// @import "quantity";

// <RANGE>
// Снипет (HTML):
// @import "range";
