.page-navigation {
  &:not(:last-child) {
    margin-bottom: rem(50);
  }

  &__list {
    @extend %fl-r-ct;
    gap: rem(18);
  }

  &__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: rem(18) rem(17);
    background-color: var(--clr-accent-secondary);
    border-radius: rem(50);

    font-family: "GothamPro";
    @include adaptiveValue("font-size", 17, 15);
    line-height: math.div(16, 17);
    color: var(--clr-white);
    transition: background-color 0.32s ease;

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--clr-accent-primary);
      }
    }
  }
}
