.partner-link {
  @extend %fl-a-ct;
  padding: rem(20) rem(23);
  background-color: var(--back, #fff);
  border-radius: rem(20);
  border: 2px dashed transparent;
  transition: border-color 0.32s ease-in-out;

  picture {
    display: flex;
    max-width: 100%;
    max-height: 100%;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  @media (any-hover: hover) {
    &:hover {
      border-color: var(--clr-accent-secondary);
    }
  }

  &--ozon {
    background-color: #0069ff;
  }
  &--wb {
    background-color: #be11a5;
  }
  &--zdravcity {
    background-color: #007fdb;
  }
  &--detmir {
    background-color: #0073e6;
  }
  &--aptekaru {
    background-color: #0c63aa;
  }
}
