//====================================================================================================
.footer {
  padding-top: rem(50);
  background-color: var(--clr-accent-primary);
  border-radius: rem(60) 0 0 0;

  &__logo {
    .logo__title {
      color: var(--clr-white);

      &:not(:last-child)::after {
        background-color: var(--clr-white);
      }
    }
    .logo__description {
      color: var(--clr-white);
    }
  }

  &__menu {
    .menu__body > ul > li > a {
      color: var(--clr-white);

      @media (any-hover: hover) {
        &:hover {
          background-color: rgba(248, 249, 253, 0.3);
        }
      }
    }
    .menu__body > ul {
      gap: rem(4);
    }
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(40);
  }
  &__row--main:not(:last-child) {
    margin-bottom: rem(7);
  }
  &__row--contacts:not(:last-child) {
    margin-bottom: rem(7);
  }

  &__contacts-links,
  &__social {
    @extend %fl-c;
  }

  &__social-links {
    display: flex;
    justify-content: flex-end;
    &:not(:last-child) {
      margin-bottom: rem(23);
    }
    svg {
      fill: #40bbf1;
    }
  }
  &__social-link {
    flex: 0 0 rem(31);
    height: rem(31);
    @extend %bg-con;
    transition: transform 0.32s ease-in-out;
    &:not(:last-child) {
      margin-right: rem(14);
    }
    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  &__social-link--vk {
    background-image: url("@img/icons/vk.svg");
  }
  &__social-link--tg {
    background-image: url("@img/icons/tg.svg");
  }
  &__question {
    padding: rem(7) rem(27);
  }

  &__contacts-link {
    display: inline-flex;
    align-items: center;
    gap: rem(11);

    font-size: rem(14);
    line-height: math.div(30, 14);
    color: var(--clr-white);

    svg {
      fill: var(--clr-white);
    }
    span {
      border-bottom: 1px dashed transparent;
      transition: border-color 0.32s ease-in-out;
    }

    @media (any-hover: hover) {
      &:hover span {
        border-color: var(--clr-white);
      }
    }

    &:not(:last-child) {
      margin-bottom: em(17, 14);
    }
  }

  &__row--info {
    padding-bottom: rem(15);
    font-size: rem(14);
    line-height: math.div(30, 14);
  }
  &__info-left {
    @extend %fl-c;
  }
  &__politics {
    display: inline-block;
    color: rgba(255, 255, 255, 0.8);
    &:not(:last-child) {
      margin-bottom: rem(4);
    }

    &:link,
    &:hover {
      text-decoration: underline;
    }
    &:hover,
    &:target {
      text-decoration: none;
    }
  }
  &__copyrights {
    color: rgba(255, 255, 255, 0.6);
  }

  &__made {
    display: inline-flex;
    gap: rem(6);
    color: rgba(255, 255, 255, 0.6);
  }

  &__description {
    padding-top: rem(8);
    padding-bottom: rem(8);
    background-color: var(--clr-back-primary);
  }
  &__consult {
    @include adaptiveValue("font-size", 24, 14);
    line-height: math.div(30, 24);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--clr-accent-primary);
  }
}
//====================================================================================================
