//====================================================================================================
.header {
  position: absolute;
  z-index: 30;
  width: 100%;
  top: 0;
  left: 0;

  &__wrapper {
    position: fixed;
    z-index: 29;
    top: 0;
    left: 0;
    width: 100%;
    padding: rem(5) 0;
    min-height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.32s ease-in-out;
    ._header-scroll & {
      transform: translateY(-100%);
      min-height: calc(var(--header-height) - rem(20));
      background-color: var(--clr-white);
    }
    .header.header--light._header-scroll & {
      background-color: rgba(0, 0, 0, 0.1);
    }
    ._header-scroll._header-show & {
      transform: translateY(0);
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(30);
    width: 100%;
  }
  &__menu {
    padding: rem(12) rem(13);
    background-color: var(--clr-back-primary);
    border-radius: rem(38);
  }
  &__logo {
    position: relative;
    z-index: 40;
    .logo__title {
      color: #008c9f;
    }
    .logo__description {
      color: var(--clr-accent-primary);
    }
  }
}

//====================================================================================================
