//====================================================================================================
.header {
  position: absolute;
  z-index: 30;
  width: 100%;
  top: 0;
  left: 0;

  &__wrapper {
    position: fixed;
    z-index: 29;
    top: 0;
    left: 0;
    width: 100%;
    padding: rem(5) 0;
    min-height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.32s ease-in-out;
    background-color: var(--clr-white);
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(30);
    width: 100%;
  }
  &__menu {
  }
  &__logo {
    // background-color: var(--clr-white);
  }
}

//====================================================================================================
